### In list data can be of different type. Whereas in arrays data should be of similar type.

In [32]:
li = [1, 2, 'Rishav', 3.4]

In [19]:
li

[1, 2, 'Rishav', 3.4]

In [7]:
li[2] #Accessing values

'Rishav'

In [8]:
li[1]=4 #Changing values

In [9]:
li

[1, 4, 'Rishav', 3.4]

In [10]:
li[1:3]  #Slicing of list

[4, 'Rishav']

In [33]:
li[1:] #From 1 till end

[2, 'Rishav', 3.4]

In [34]:
#append adds element to the end of the list

li.append('abc')
print(li)

[1, 2, 'Rishav', 3.4, 'abc']

In [35]:
#Insert adds element to the deired place

li.insert(1,'5.5 Billion')
print(li)

[1, '5.5 Billion', 2, 'Rishav', 3.4, 'abc']

In [36]:
#We can add a list to the end of list 

li.append(['xyz',77,101])
print(li)

[1, '5.5 Billion', 2, 'Rishav', 3.4, 'abc', ['xyz', 77, 101]]

In [37]:
#Extend adds multiple elements to the end of the list
li.extend(['xyz',77,101]) #Note! It also takes a list as an input
print(li)

[1, '5.5 Billion', 2, 'Rishav', 3.4, 'abc', ['xyz', 77, 101], 'xyz', 77, 101]

In [38]:
#Remove removes any specific element from the list

li.remove('abc') #We are typing element's value and not it's position
print(li)

[1, '5.5 Billion', 2, 'Rishav', 3.4, ['xyz', 77, 101], 'xyz', 77, 101]

In [39]:
#If there are 2 elements with same value then it will remove the first one

a=[1,2,3,4,1]
a.remove(1)
print(a)

[2, 3, 4, 1]

In [40]:
a.pop(3) #It removes any element from the list. Note! we are typing position here unlike previous one
a

[2, 3, 4]

In [43]:
len(li)

9

In [44]:
len(a)

3

In [1]:
r=['rishav',0,4,11]

In [3]:
#Looping on Lists

for i in range(len(r)):
    print(r[i])

rishav
0
4
11

In [7]:
#with certain starting index

for i in range(2,len(r)):
    print(r[i])

4
11

In [8]:
#Another method

for i in r:
    print(i)

rishav
0
4
11

In [9]:
#with starting index
for i in r[2:]:
    print(i)

4
11

In [10]:
#Negative indexing and sequencing in lists

r[-4]

'rishav'

In [13]:
r[-1:-3:-1]  #remember to put step (here, ':-1') otherwise it won't work.

[11, 4]

In [15]:
r[-1:-3] #see

[]

In [20]:
r[-3:-1] #it worked since, technically we are going from left to right like how we originally should

[0, 4]

In [21]:
r[1:3] #see, same as above.

[0, 4]

In [17]:
r[0:3:2]

['rishav', 4]

In [18]:
r[::2] #starting and ending is by default o till end.

['rishav', 4]

In [19]:
r[:2]  #if no step is mentioned, then it's the ending.

['rishav', 0]

In [22]:
#Line seperated input of lists.

n=int(input())     #We took a number
li=[]              #And an empty list
for i in range(n): #Till the number is ongoing, we will continue looping
    s=int(input()) #we are taking input
    li.append(s)   # And adding it on to the empty list
print(li)          #And printing it.


#btw, notice that the input is line seperated

4
0
4
1
1
[0, 4, 1, 1]

In [30]:
#We can split string in a list like this :

st=input() #I gave space seperated input like, 1 (space) 2 (space) ... etc.
print(st)

#Now, comes splitting
st.split(' ')

1 2 3 4 5
1 2 3 4 5

['1', '2', '3', '4', '5']

In [33]:
st=input() #We can give comma seperated input and split on basis of it.
print(st)

st.split(',')

1,2,3,4,5
1,2,3,4,5

['1', '2', '3', '4', '5']

In [34]:
#In the above code if we have inputted with comma the the output would have been:

st=input()
print(st)

st.split(',') 

#A single string since there were no commas to seperate them

1 2 3 4 5
1 2 3 4 5

['1 2 3 4 5']

In [35]:
a=input()
a.split() #We don't actually need to use ' ' for space seperating

1 2 3 4 5

['1', '2', '3', '4', '5']

In [39]:
#The above is a list of strings, for getting a string of integer:

li=[]
for i in a.split():
    li.append(int(i)) #We made it int here.
print(li)

[1, 2, 3, 4, 5]

In [42]:
#For doing it all in single line.

li=[int(i) for i in input().split()] #Remember this, it's very useful. 
print(li)

1 2 3 4 5
[1, 2, 3, 4, 5]

In [44]:
#Not related to lists or arrays but I saw it on codechef, pretty useful. 
(a, b) = map(int, input().split())
print(a)
print(b)

2 4
2
4

In [7]:
#For the above code to be in a list:
(a,b)=map(int,input().split())
x=[a,b]
print(x)

2 4
[2, 4]

In [45]:
#taking space seperating input and printing them.

r=[int(x) for x in input().split()]
for i in r:
    print(i)

2 4 6 8 10
2
4
6
8
10

## Array Sum

Given an array of length N, you need to find and print the sum of all elements of the array.

In [1]:
n=input()  #Am I blind or is n useless here? Idk why they taught it like that in video
li=[int(x) for x in input().split()]
sum=0
for i in li:
    sum=sum+i
print(sum)

2
1 2 3  4 5 6 7 8 9 10
55

In [3]:
#linear search:
li=[int(x) for x in input().split()]
ele=int(input())
isFound=False
for i in range(len(li)):
    if li[i]==ele:
        print(i)
        isFound=True
        break
        
if isFound==False:
    print(-1)

2 4 5 6 8 9
5
2

In [7]:
#Linear search using functions:

def linear_search(li,ele): #li is list and ele is element to be found
    for i in range(len(li)):
        if li[i]==ele:
            return i
        return -1

li=[2,4,5,6,8,9]
index=linear_search(li,8)
print(i)

2

### Passing variable through functions

In [9]:
def increment(a):
    a=a+2
    return 

a=2
increment(a)
print(a)

2

In [10]:
def increment(a):
    a=a+2
    return a

a=2
increment(a)
print(a)

2

In [11]:
def increment(a):
    a=a+2
    return a

a=2
a=increment(a) #see the difference
print(a)

4

### Passing list through functions

In [12]:
def increment(li):
    li[0]=li[0]+2
    return

li=[1,2,3,4]
increment(li)
print(li)

[3, 2, 3, 4]

In [13]:
def increment(li):
    li=[3,3,4]
    return

li=[1,2,3,4]
increment(li)
print(li)

[1, 2, 3, 4]

In [15]:
def increment(li):
    li=[3,3,4]
    return li

li=[1,2,3,4]
increment(li)
print(li)

[1, 2, 3, 4]

In [16]:
def increment(li):
    li=[3,3,4]
    return li

li=[1,2,3,4]
li=increment(li) #see here
print(li)

[3, 3, 4]

In [21]:
#Reverse List
def reverse(li):
    length=len(li)
    for i in range(length//2):
        li[i],li[length-i-1]=li[length-i-1],li[i]
        return li
        
        

li=[10,20,30,40,50,60]
li=reverse(li)
print(li)

[60, 20, 30, 40, 50, 10]

In [26]:
#Reverse List 2
def reverse_1(li):
    length=len(li)
    for i in range(length//2):
        li[i],li[-i-1]=li[-i-1],li[i]  #It may be difficult to understand now but do a dry run
        return li
        
        

li=[10,20,30,40,50,60]
li=reverse_1(li)
print(li)

[60, 20, 30, 40, 50, 10]

In [27]:
#reverse 3

li=[10,20,30,40,50,60]
li=li[::-1]
print(li)

[60, 50, 40, 30, 20, 10]

## Swap Alternate

You have been given an array/list(ARR) of size N. You need to swap every pair of alternate elements in the array/list.
You don't need to print or return anything, just change in the input array itself.

In [30]:
def swap_l(li):
    for i in range (0,len(li)-1,2):
        li[i],li[i+1]=li[i+1],li[i]
        return li
        
li=[10,20,30,40,50,60]
li=swap_l(li)
print(li)

[20, 10, 30, 40, 50, 60]

In [ ]:
#For running they did this:

t = int(input()) #t is test case ig
while t>0:
    n = int(input()) #it shows the no. of elements in list, but here it's useless.
    li=[int(x) for x in input().split()]   #taking list                            
    swap_l(li) #Applying function
    for i in (li): #printing every element in list
        print(i, end=" ")
    print()
    t-=1  #decreasing test case no.

## Find Unique

You have been given an integer array/list(ARR) of size N. Where N is equal to [2M + 1].
Now, in the given array/list, 'M' numbers are present twice and one number is present only once.
You need to find and return that number which is unique in the array/list.

In [32]:
import sys

def findUnique(arr, n) :
    for i in range(n) :
        j = 0
        while j < n :
            if i != j :
                if arr[i] == arr[j] :
                    break
            j += 1
        if j == n : 
            return arr[i]
        
arr=[2,3,1,6,3,6,2]
n=7
a=findUnique(arr, n)
print(a)

1

In [ ]:
#the way they took input

#Taking Input Using Fast I/O
def takeInput() :
    n = int(sys.stdin.readline().rstrip())

    if n == 0 :
        return list(), 0

    arr = list(map(int, sys.stdin.readline().rstrip().split(" ")))
    return arr, n


#main
t = int(sys.stdin.readline().rstrip())

while t > 0 :

    arr, n = takeInput()
    print(findUnique(arr, n))

    t -= 1

## Find Duplicate

You have been given an integer array/list(ARR) of size N which contains numbers from 0 to (N - 2). Each number is present at least once. That is, if N = 5, the array/list constitutes values ranging from 0 to 3 and among these, there is a single integer value that is present twice. You need to find and return that duplicate number present in the array.

In [35]:
def findDuplicate(arr, n) :
    for i in range(n) :
        j = 0
        while j < n :
            if i != j :
                if arr[i] == arr[j] :
                    return arr[i]
            j += 1
            
arr=[0,7,2,5,4,7,1,3,6]
n=7
a=findDuplicate(arr, n)
print(a)

7

## Intersection of Two Arrays II

You have been given two integer arrays/list(ARR1 and ARR2) of size N and M, respectively. You need to print their intersection; An intersection for this problem can be defined when both the arrays/lists contain a particular value or to put it in other words, when there is a common value that exists in both the arrays/lists.

In [42]:
def intersection(arr1,n,arr2,m):
    for i in range(n):
        for j in range(m):
            if arr1[i]==arr2[j]:
                print(arr1[i],end=" ")
                arr2[j]=sys.maxsize
                break
    return

n=4
arr1=[2,6,1,2]
m=5
arr2=[1,2,3,4,2]

a=intersection(arr1,n,arr2,m)
print(a)

2 1 2 None

## Pair Sum

You have been given an integer array/list(ARR) and a number X. Find and return the total number of pairs in the array/list which sum to X.

In [45]:
def pairSum(arr, n, x) :
    count=0
    for i in range(n):
        for j in range(i + 1, n):
            if arr[i] + arr[j] == x:
               count += 1               
    return count


n=9 #represents no. of elements in array
x=9 #no. to find to make a pair of
arr=[1,3,6,2,5,4,3,2,4]
a=pairSum(arr, n, x)
print(a)

4

## Triplet Sum

You have been given a random integer array/list(ARR) and a number X. Find and return the number of triplets in the array/list which sum to X.

In [47]:
def findTriplet(arr, n, x) :
    count=0
    for i in range(0,n):
        for j in range(i + 1, n):
            for k in range(j+1,n):
                if arr[i] + arr[j]+arr[k] == x:
               
                    count += 1               
    return count


n=9 
x=9 
arr=[1,3,6,2,5,4,3,2,4]
a=findTriplet(arr, n, x)
print(a)

14

## Sort 0 1

You have been given an integer array/list(ARR) of size N that contains only integers, 0 and 1. Write a function to sort this array/list. Think of a solution which scans the array/list only once and don't require use of an extra array/list.

In [48]:
def sortZeroesAndOne(arr, n) :
    leftside = []
    rightside = []
    for i in arr:
        if i == 0:
            leftside.append(i)
        else:
            rightside.append(i)

    leftside.extend(rightside)
    return leftside

arr=[0,1,1,0,1,0,1]
n=7
a=sortZeroesAndOne(arr, n)
print(a)

[0, 0, 0, 1, 1, 1, 1]